$basic-text-color: #3e3e3e;
$basic-layout-color: #c9302b;
$hamburger-color: #000000;
$hover-color: #11933f;
$white-color: #ffffff;
$logo-color: #1c1b1b;
$header-color: #000000;
$menus-color: rgba(255, 255, 255, .8);
$border-color: #7e7e7e;
$border-input-color: #dbdbdb;
$border-focus-color: #27ae3d;
$border-shadow-color: rgba(0, 0, 0, .1);
$footer-color: #454545;
$error-color: #ff0000;
$valid-color: #008000;