section#home{
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;



    h1{
        @include center(both);
        text-align: center;
        color: $ciemny-granat;
        font-size: 3vw;
        font-weight: 300;

        span{
            display: inline-block;
            text-transform: uppercase;
            font-size: 10vw;
            color: $kolor-wiodacy;
            font-family: $font-naglowki;
            letter-spacing: 0.15em;
            line-height: 1;
            position: relative;
            padding-bottom: 20px;
            margin-left: 28px;

            &:before{
                @include ps;
                left: 0px;
                bottom: 0px;
                height:0px;
                width:1px;
                border-bottom:3px solid $ciemny-granat;

                -webkit-animation: increase 5s;
                -moz-animation:    increase 5s;
                -o-animation:      increase 5s;
                animation:         increase 5s;
                animation-fill-mode: forwards;
            }
        }


    }

    @keyframes increase {
        100% {
            width: 95%;
        }
    }

}