.icon{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1;


    .hamburger{
        width: 50px;
        height: 6px;
        background: $ciemny-granat;
        @include center(both);
        transition: .5s;

        &:before,
        &:after{
            @include ps;
            width: 50px;
            height: 6px;
            background: $ciemny-granat;
            transition: .5s;
        }

        &:before{
            top: -16px;
        }

        &:after{
            top: 16px;
        }

    }

    &.active .hamburger{
        background: transparent;
    }

    &.active .hamburger:before{
        top: 0px;
        transform: rotate(45deg);
    }

    &.active .hamburger:after{
        top: 0px;
        transform: rotate(135deg);
    }

}


nav{
    height: 100vh;
    width: 300px;
    background-color: $czarny-przezroczysty;
    clip-path:polygon(0 0,100% 0,0% 100%,0% 100%);
    position: fixed;
    top:0;
    left: -300px;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;

    a{
        display: block;
        text-align: center;
        text-decoration: none;
        @include font(22px, $bialy, 300);
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 3px;

        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $bialy;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
        }

        &:hover:before{
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

        &.act{
            border-bottom: 2px solid $bialy;
        }


    }

    h1{
        width: 200px;
        height: 177px;
        background-image: url(../img/logo.png);
        @include ps;
        top: 20px;
        left: 50%;
        margin-left: -100px;
        text-indent: -999em;
        background-size: 100% auto;
    }

    .close {
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
        position: relative;
        margin: 20px auto;
        border: 1px solid $bialy;
        border-radius: 100%;

        &:before,
        &:after{
            position: absolute;
            left: 50%;
            margin-left: -1px;
            content: "";
            height: 15px;
            width: 2px;
            background-color: $bialy;
            transition: .2s;
            top: 50%;
            margin-top: -7px;
        }

        &:before{
            transform: rotate(45deg);
        }

        &:after{
            transform: rotate(-45deg);
        }

        &:hover:before,
        &:hover:after{
            background-color: red;
        }

        &:hover{
            border-color: red;
        }
      }


}



