section#aktualnosci{
    background-image: url(../img/gallery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    .box{
        display: flex;
        background: $bialy;
        height: 297px;
        margin-bottom: 20px;

        .left{
            overflow: hidden;
            position: relative;
            flex: 1;

            h4{
                @include ps;
                left: 0;
                bottom: 0;
                z-index: 10;
                background: $czarny-przezroczysty;
                text-align: center;

                @include font(18px, $bialy, bold);
                padding: 20px;
            }

            img{
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .right{
            flex: 1;
            padding: 20px;
        }

    }

    .box .left.slideshow{
        overflow: hidden;
        width: 620px;
        height: 297px;

        .slide-wrapper {
            width: 2912px;
            -webkit-animation: slide 10s ease infinite;

            .slide {
                float: left;
                width: 620px;
                height: 297px;
              }
          }

        img {
            position: relative;
            top: auto;
            left: auto;
        }

    }

}

@-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -620px;}
    50% {margin-left: -620px;}
    60% {margin-left: -1240px;}
    70% {margin-left: -1240px;}
    100% {margin-left: 0px;}
  }



